$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$nav-link-hover-color: blue;
$enable-shadows: true;
@import "../node_modules/bootstrap/scss/bootstrap";


.current {
    color: green;
}

.sidenav{
    height: auto;
    border-right: 3px solid var(--bs-secondary-color);
}


.nav {
    position: fixed;
    height: auto;
    a  {
       
    }
}
.main-body{
    margin-left: 0;
    height: 100vh;
    .parent-row {
        height: 100%;
    }
}